@{
    Layout = "_LayoutLogoof";
    ViewData["Title"] = "Página Restrita";
}
<p class="Display-6">Você não tem acesso a essa funcionalidade. <a asp-controller="Home" asp-action="Index">Click aqui para voltar para a Home.</a></p>
