@model RedefinirSenhaModel
@{
    Layout = "_LayoutLogoof";
    ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["MensagemError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemError"]
    </div>
}
<br />
<form asp-controller="Login" asp-action="LinkRedefinirSenha" method="post">
    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" id="email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Redefinir Senha</button>
        <a class="btn btn-secondary d-block" role="button" asp-controller="Login" asp-action="Index">Voltar</a>
    </div>
</form>